<% include ./partials/head.ejs %>
<title>Index</title>
</head>
<body>
    
    <% include ./partials/navbar.ejs %>
    <div class="container">
        <div class="subheader">
            <h3><%= title %></h3>
    </div>
      <div class="row">
          <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">description</th>
                  
                </tr>
              </thead>
              <tbody>
                  <% warehouses.forEach((house, i)=>{ %>
                    <tr>
                        <th scope="row"><%= i+1 %></th>
                        <td><%= house.name %></td>
                        <td><%= house.description %></td>
                        <td><a class="btn btn-tiny btn-danger" href="/products/warehouse/<%= house._id %>">View Warehouse</a></td>
                      </tr>
                 <% }) %>
              </tbody>
            </table>
      </div>
            
    </div>
    <% include ./partials/footer.ejs %>
</body>
</html>